.clients {
  @include section();

  @media screen and (min-width: 1200px) {
    @include section(94px, 94px);
  }

  .clients__logo {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  .clients__item {
    display: flex;
    flex-basis: calc((100% - 30px) / 2);
    height: 92px;

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 3);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - (5 * 30px)) / 6);
    }
  }

  .clients__link {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--icon-color);
    border-radius: 4px;
    color: var(--icon-color);

    transition-property: color, border;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }

  .clients__icon {
    fill: currentColor;
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}
