.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    padding-left: 10px;;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
  }
}

.link-nav {
  position: relative;

  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &:hover::after,
  &:focus::after {
    content: '';
    display: block;

    position: absolute;
    bottom: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }

  &::after {
    content: '';
    display: block;
    transition: background-color var(--duration) var(--timing-function);
  }

  &.current::after {
    position: absolute;
    bottom: 0;

    content: '';
    display: block;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
}

.contact-heder {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
    color: var(--paragraf-text-color);
    transition: color var(--duration) var(--timing-function);
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }

  .link-contact {
    display: flex;
    align-items: center;
    gap: 10px;

    padding-top: 5px;
    padding-bottom: 5px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.14;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  .item + .item {
    margin-left: 0;

    @media screen and (min-width: 1200px) {
      margin-left: 30px;
    }
  }

  .header-icon {
    fill: currentColor;
  }

  & .link-contact:hover,
  & .link-contact:focus {
    color: var(--accent-color);
  }
}
