:root {
    --primary-text-color: #212121;
    --paragraf-text-color: #757575;
    --accent-color: #2196f3;
    --contrast-color: #ffffff;
    --background-color-main: #ffffff;
    --logo-color-header: #000000;
    --background-color-black: #2f303a;
    --background-color-gray: #f5f4fa;
    --border-card-project: 1px solid #eeeeee;
    --icon-color: #afb1b8;
    --modal-icon-color-main: #212121;
    --duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }